<div class="jumbotron">
  <div class="col-md-2"></div>
  <div class="col-md-8">
  <h1 class="h1">Foodie Customer</h1>
  <div class="row">
    <p>
      UR Name:<input class="FormControl" type="text" [(ngModel)] = "customerName" placeholder="Enter UR Name"/>
    </p>
  </div>
  <div class="row">
    <p>
      UR Address:<input class="FormControl" type="text" [(ngModel)] = "customerAddress" placeholder="Enter UR Address"/>
    </p>
  </div>
  <div class="row">
    <p>
      <button (click)="onSave()">List Hotels</button>
    </p>
  </div>
</div>
</div>
